* {
  box-sizing: border-box;
}
.container {
  background-color: white;
}
.form-register,
.form-login {
  margin: auto;
  max-width: 50%;
  padding: 16px;
  border: 1px solid;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.button {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.button:hover {
  opacity: 1.5;
}
