.container {
  margin: auto;
  width: 1280px;
  text-align: center;
  border: 1px solid black;
  width: 1000px;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
}
.container-logo {
  width: 100%;
  text-align: center;
}
.container-logo img {
  width: 40%;
}
input[type="text"] {
  height: 30px;
  width: 230px;
}
input[type="checkbox"] {
  padding: 10px;
}
.button,
.edit-button,
.delete-button,
.button-logout {
  color: white;
  background-color: #04aa6d;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  opacity: 0.9;
}

.button:hover {
  opacity: 1.5;
}

/* task */
#taskList {
  margin: 20px auto;
  height: auto;
  list-style-type: none;
  box-sizing: border-box;
}
#taskList li {
  display: flex;
}
#taskList span {
  flex-grow: 1;
  margin: auto 10px;
}
.right {
  float: right;
}